.clear{
  clear: both;
}
a:hover{
  text-decoration: none;
}
.pcHead{
  width:100%;
  height:200px;
  background: url(../images/headbg.jpg) no-repeat;
  background-size: 100% 100%;
}
.mainBox{
  margin:0px auto;
}
.contRow{
  margin-top: 65px;
}
.contRow p{
  font-size: 16px;
  color:#8f4a04;
  font-weight: bold;
}
.contRow img{
  float: left;
}
.contRow .rightCon{
  float: left;
  margin-left: 10px;
}
.rightRow{
  float: right;
  margin-top: 75px;
}
.rightRow p{
  font-weight: 500;
}
.rightRow p b{
  font-size: 18px;
}
.pcHead .row{
  padding:0px;
  margin:0px;
}
.navLik{
  width: 100%;
  height:60px;
  background:url(../images/navbg.jpg) no-repeat;
  background-size: 100% 100%;
}
.navLik a{
  display: inline-block;
  width:100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color:#fcb572;
  margin-left: 15px;
  margin-top: 10px;
}
.alinked{
  background: url(../images/navhoverbg.png) no-repeat;
  background-size: 100% 100%;
}
.tpLink .leftWord{
  float: left;
  color:#fcb572;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 10px;
  width:50%;
}
.tpLink .rightWord{
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}
.tpLink .rightWord a {
  position: relative;
}
.tpLink .rightWord a img{
  width:15px;
}
.tpLink .rightWord:hover .dropBox{
  display: block;
}
.dropBox{
  display: none;
  width:100px;
  position: absolute;
  top:35px;
  right: 0px;
  background:#823e09;
  text-align: center;
}
.dropBox a{
  display: block;
  color:white;
  padding-bottom: 5px;
  /* height: 35px;
  line-height: 35px; */
}
html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  /* text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}
.swiper-slide img{
  display: block;
  width:100%;
}
.swiper-pagination-bullet-active{
  background:#9e3e3a;
}
.indexWrap{
  width:100%;
  background: url(../images/bgreapt.png);
}
.mainTitle{
  padding-top: 20px;
}
.mainTitle img{
  display: block;
  width:250px;
  margin:0px auto;
}
.mainBg{
  margin-top: 20px;
  width: 100%;
  background:url(../images/rbg.png) no-repeat;
  background-size: 100% 100%;
  height:360px;
}
.videoBox{
  padding:0px 10px;
}
.videoBox video{
  width:100%;
  height:340px;
}
.wordCont{
  padding:10px 20px 10px 0px;
  margin-top: 25px;
}
.wordCont p{
  font-size: 14px;
  line-height: 30px;
  text-indent: 30px;
}

.outframe .framekk{
  margin:0px auto;
}
.bannerCont{
  margin-top: 20px;
  padding:0px 30px;
}
.swiper-button-next, .swiper-button-prev{
  top:260px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  background-image:url(../images/leftrow.png);
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  background-image:url(../images/rightrow.png);
}
.contPar{
  margin-top: 25px;
}
.contPar p{
  font-size: 14px;
  line-height: 25px;
  text-indent: 30px;
}
.tsrightImg img{
  width:100%;
}
.tsBox{
  /* height:500px; */
  margin-top: 30px;
}
.tsLeftBox p{
  font-size: 16px;
  font-weight: bold;
}
.tsLeftBox p i{
  font-style: normal;
  color:#c60000;
  font-size: 22px;
}
.btnbg{
  display: block;
  width:90%;
  height:60px;
  line-height: 60px;
  background:url(../images/btn.png) no-repeat;
  background-size: 100% 100%;
  color:#333;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin:0px auto;
  margin-top: 15px;
}
.tsLeftBox{
  padding:0px 20px;
}
.tsrightImg{
  margin-top: 20px;
}

@media screen and (min-width:320px){

  .bannerCont {
    margin-top: 20px;
    padding: 0px 10px;
}
  .mainBg1{
    width:100%;
    height:450px;
    background: url(../images/kbg2.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 5px;
  }
  .swiper-button-next, .swiper-button-prev {
     display: none;
}
  .tipPos{
    position: absolute;
    bottom: 5px;
    left:5px;
    width:70px;
    height: 25px;
    line-height: 25px;
    background:rgba(0,0,0,0.6);
    color:white;
    font-size: 12px;
    text-align: center;
  }
  .nameBox{
    clear: both;
    display: block;
    width:80px;
    height: 30px;
    line-height: 30px;
    background: url(../images/namebg.png) no-repeat;
    background-size: 100% 100%;
    color:white;
    text-align: left;
    text-indent: 20px;
    margin:0px auto;
    margin-top: 10px;
    font-size: 12px;
  }
  .mainBg{
    margin-top: 20px;
    width: 100%;
    background:url(../images/kbg2.png) no-repeat;
    background-size: 100% 100%;
    height:700px;
  }
  .wordCont p{
    font-size: 12px;
    line-height: 25px;
    text-indent: 25px;
  }
   .mobileHeader{
     width:100%;
     display: block;
     height:170px;
     background:url(../images/mbile.jpg) no-repeat;
     background-size: 100% 100%;

   }
   .pcHeader{
     display: none;
   }
   .mainTitle img{
    display: block;
    width:250px;
    margin:0px auto;
  }
  .wordCont {
    padding: 0px 0px 0px 0px;
    margin-top: 5px;
  }
 .videoBox video {
    width: 100%;
    height: 160px;
  }
  .framekk{
    position: relative;
    width: 80px;
    height: 90px;
    background: url(../images/kkbgg.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content:center;
    align-items:Center;
  }
  .framekk img{
    width:70px;
  }
  .contPar p {
    font-size: 12px;
    line-height: 25px;
    text-indent: 30px;
  }
   .wordCont p {
  font-size: 12px;
  line-height: 28px;
  text-indent: 30px;
   }
}



@media screen and (min-width:375px){
  .videoBox video {
    width: 100%;
    height: 260px;
}
  .contPar p {
    font-size: 12px;
    line-height: 25px;
    text-indent: 30px;
}
  .swiper-button-next, .swiper-button-prev {
    top: 320px;
    display: block;
}
  .wordCont p {
    font-size: 14px;
    line-height: 25px;
    text-indent: 25px;
   }
}
@media screen and (min-width:375px){
  .wordCont p {
    font-size: 12px;
    line-height: 28px;
    text-indent: 30px;
   }
}
@media screen and (min-width:750px){
  .contPar p {
    font-size: 14px;
  
}
  .bannerCont {
    margin-top: 20px;
    padding: 0px 30px;
}
  .swiper-button-next, .swiper-button-prev {
    top: 260px;
}
  .tipPos{
    position: absolute;
    bottom: 5px;
    left:5px;
    width:140px;
    height: 30px;
    line-height: 30px;
    background:rgba(0,0,0,0.6);
    color:white;
    font-size: 14px;
    text-align: center;
  }
  .nameBox{
    clear: both;
    display: block;
    width:150px;
    height: 40px;
    line-height: 40px;
    background: url(../images/namebg.png) no-repeat;
    background-size: 100% 100%;
    color:white;
    text-align: left;
    text-indent: 40px;
    margin:0px auto;
    margin-top: 10px;
  }
  .framekk{
    position: relative;
    width: 150px;
    height: 170px;
    background: url(../images/kkbgg.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content:center;
    align-items:Center;
  }
  .framekk img{
    width:140px;
  }
  .wordCont p {
    font-size: 16px;
    line-height: 30px;
    text-indent: 30px;
   }
  .mobileHeader{
    display: none
  }
  .pcHeader{
    display: block;
  }
  .mainBox{
    width:100%;
  }
  .pcHead{
    height: 150px;
  }
  .contRow{
    margin-top: 40px;
  }
  .rightRow{
    margin-top: 55px;
  }
  .contRow p{
    font-size: 14px;
  }
  .navLik a{
    font-size: 14px;
    width:80px;
  }
  .mainTitle img{
    display: block;
    width:550px;
    margin:0px auto;
  }
  .videoBox video {
    width: 100%;
    height: 340px;
}

}


@media screen and (min-width:1024px){
  .mainBg1{
    width:100%;
    height:450px;
    background: url(../images/rbg11.png) no-repeat;
    background-size: 100% 100%;
  }
  .videoBox video {
    width: 100%;
    height: 340px;
}
  .wordCont {
    padding: 10px 20px 10px 0px;
    margin-top: 25px;
}
  .pcHead{
    height: 150px;
  }
  .contRow{
    margin-top: 40px;
  }
  .rightRow{
    margin-top: 55px;
  }
  .contRow p{
    font-size: 16px;
  }
  .navLik a{
    font-size: 16px;
    width:100px;
  }
  .mainBg{
    margin-top: 20px;
    width: 100%;
    background:url(../images/rbg.png) no-repeat;
    background-size: 100% 100%;
    height:360px;
  }
  .wordCont p{
    font-size: 14px;
    line-height: 28px;
    text-indent: 30px;
  }
}
@media screen and (min-width:1201px){
  .bannerCont{
    margin-top: 60px;
  }
  .wordCont p{
    font-size: 14px;
    line-height: 30px;
    text-indent: 30px;
  }
  .mainBox{
    width:1200px;
  }
  .pcHead{
    height: 220px;
  }
  .contRow{
    margin-top: 75px;
  }
  .rightRow{
    margin-top: 85px;
  }
  .navLik a{
    width:120px;
  }
}
